@page "/"

<RadzenCard>
    <div style="display: table; text-align: center;">
        <div style="display: table-cell; vertical-align: middle; padding-bottom: 30px; padding-top: 30px;">
            <h1>Welcome to Parking Control!</h1>
            <h3>An effective communication system between the evacuation services of the city and its residents.</h3>
            <p>Please, log in to access portal functionality.</p>
        </div>
    </div>   
</RadzenCard>

@code {

}
